Repository Ethernal-Tech/blade, pull requests merged in 2025-05, with the labels that each got.

#126 Improve sanity check tests for testnet
  .github/workflows/nightly-testnet.yml
  .github/workflows/notification-testnet.yml
  .github/workflows/sanity-check-test.yml
  loadtest/sanitycheck/base_sanity_check.go
  loadtest/sanitycheck/sanity_check_register_validator.go
  loadtest/sanitycheck/sanity_check_stake.go
  loadtest/sanitycheck/sanity_check_unstake.go
  loadtest/sanitycheck/sanity_check_unstake_all.go
Labels: enhancement, tests

#141 Load Test on Testnet
  .github/workflows/availability-tests.yml
  .github/workflows/deploy-network.yml
  .github/workflows/destroy-network.yml
  .github/workflows/load-test.yml
  .github/workflows/nightly-testnet.yml
  .github/workflows/notification-nightly.yml
  .github/workflows/notification-testnet.yml
  .github/workflows/sanity-check-test.yml
  loadtest/sanitycheck/sanity_check_register_validator.go
Labels: tests

#144 Storage trie performance test
  tests/trie_benchmark_test.go
Labels: tests

#147 GetTransactionReceipt caching
  blockchain/blockchain.go
  blockchain/storagev2/testing_perf.go
  command/server/config/config.go
  command/server/params.go
  command/server/server.go
  consensus/polybft/blockchain_wrapper.go
  consensus/polybft/mocks_test.go
  consensus/polybft/state_event_getter.go
  go.mod
  go.sum
  jsonrpc/debug_endpoint.go
  jsonrpc/debug_endpoint_test.go
  jsonrpc/dispatcher.go
  jsonrpc/eth_blockchain_test.go
  jsonrpc/eth_endpoint.go
  jsonrpc/eth_endpoint_test.go
  jsonrpc/filter_manager.go
  jsonrpc/jsonrpc.go
  jsonrpc/mocks_test.go
  jsonrpc/rpccache.go
  server/config.go
  server/server.go
  tests/trie_benchmark_test.go
Labels: performance-improvements
